* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* bulletin board */

div#bulletin-board {
  background-image: url('/img/bulletin-board.jpg');
  width: 848px;
  height: 600px;
  position: relative;
}

div#frame {
  padding: 2rem;
}

/* pins */

i.pin {
  font-size: 1.5rem;
}

/* universal */

.container {
  padding: 2rem 4rem;
  margin: 0 auto;
}